work

book
dist
debug/
target/
.direnv/
result

**/*.rs.bk
*.pdb

logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*
.pnpm-debug.log*

pkg
pids
*.pid
*.seed
*.pid.lock

lib-cov

coverage
*.lcov

.nyc_output

.grunt

bower_components

.lock-wscript

build/Release

node_modules/
jspm_packages/

.npm

.node_repl_history

*.tgz

.env
.env.test
.env.development.local
.env.test.local
.env.production.local
.env.local

.cache/
.vscode-test
.intentionally-empty-file.o


# OS metadata
.DS_Store
Thumbs.db

# IDE files
.idea
*.code-workspace

*.tgz

# vscode
*.vsix

# docs
docs/assets
docs/toolsAssets
docs/playground.html
docs/logo.svg

*.so

settings.local.json

# claude
CLAUDE.local.md

example.html

.github/chatmodes

.serena
